/* #c266d3 #ec1839  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 8px 0;
    position: sticky;
    background: white;
    top: 0;
    z-index: 1;
}

.container {
    padding: 0 5%;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu .menu-item a {
    color: #262626;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.5s;
    position: relative;
    margin: 10px;
}

.menu .menu-item a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: 0.5s;
    transform: scaleY(2);
    opacity: 0;
}

.menu .menu-item a:hover:before,
.menu .menu-item a.active:before {
    opacity: 1;
    transform: scaleY(1);
}

.menu .menu-item a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: scaley(0);
    z-index: -1;
}

.menu .menu-item a:hover:after,
.menu .menu-item a.active:after {
    background: #000;
    transform: scaley(1);
}

.menu .menu-item a:hover,
.menu .menu-item a.active {
    color: #fff;
}

.main {
    width: 100%;
    background-image: url('../images/tobias-van-schneider-lHGeqh3XhRY-unsplash.jpg'), url('../images/bg-img.jpg');
    background-blend-mode: darken;
    background-attachment: fixed;
    padding: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.btn {
    display: inline-block;
    border: 2px solid #c266d3;
    padding: 0.3rem 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #c266d3;
    position: relative;
}

.btn:hover {
    color: white;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #c266d3;
    transition: width 0.3s linear;
    z-index: -1;
}

.btn:hover::after {
    width: 100%;
    color: white;

}

.mt-1 {
    margin-top: 1rem;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction {
    width: 60%;
}

.profile-img {
    width: 28%;
}

.introduction h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: white;
}

.introduction h3 span {
    color: #ec1839;
    font-family: 'Clicker Script', cursive;
    font-size: 2rem;
}

.tagline {
    color: white;
    font-family: revert;
    text-align: justify;
}

.profile-img img {
    width: 100%;
}


.title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 4rem;
    color: white !important;
    font-size: 2rem;
    color: white;
    font-weight: 700;
    position: relative;
}

.title::after,
.title::before {
    content: "";
    width: 3rem;
    height: 0.3rem;
    background: #ec1839;
    position: absolute;
    top: 100%;
    left: 0;
}

.title::after {
    width: 1.5rem;
    margin-top: 0.5rem;
}


.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: white;
}

.about-text h3 span {
    color: #ec1839;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
}

.about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

.about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 2.5rem;
}

.about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.about-content .personal-info .info-item p {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.6rem 0;
    color: white;
    border-bottom: 1px solid white;
}

.about-content .personal-info .info-item p span {
    font-weight: 400;
    color: white;
    margin-left: 0.4rem;
    display: inline-block;
}

.about-content .buttons {
    margin-top: 2rem;
}

.about-content .buttons .btn {
    margin-right: 1rem;
}

.about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0.2rem;
    padding: 0 1rem;
}

.about-content .skills .skill-item h5 {
    font-weight: 600;
    font-size: 1rem;
    color: white;
    line-height: 2.5rem;
    text-transform: capitalize;
}

.about-content .skills .progress {
    width: 100%;
    height: 0.5rem;
    background: white;
    border-radius: 0.25rem;
    position: relative;
}

.about-content .skills .progress-in {
    position: absolute;
    height: 0.5rem;
    background: #ec1839;
    border-radius: 0.25rem;
}

.about-content .skills .progress-percent {
    position: absolute;
    right: 0;
    top: -2rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.about-content .education,
.about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 2rem;
}

.about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about-content .timeline-box .timeline {
    background: white;
    border: 1px solid white;
    padding: 2rem 1rem;
    width: 100%;
    position: relative;
    border-radius: 0.6rem;
}

.about-content .timeline-item {
    position: relative;
    padding: 0 0 2.5rem 2.3rem;
}

.about-content .timeline-item:last-child {
    padding-bottom: 0;
}

.about-content .timeline-item::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #ec1839;
    left: 0.5rem;
    top: 0;
}

.about-content .timeline-item .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #ec1839;
}

.about-content .timeline-item .timeline-date {
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
    margin-bottom: 0.8rem;
}

.about-content .timeline-item .timeline-date i {
    margin-right: 0.4rem;
}

.about-content .timeline-item .timeline-title {
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
    margin-bottom: 0.9rem;
    text-transform: uppercase;
}

.about-content .timeline-item .timeline-text {
    line-height: 1.6rem;
    font-size: 1rem;
    color: white;
    text-align: justify;
}


.contact-title {
    color: #ec1839;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.contact-subtitle {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 4rem;
}

.contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 4rem;
}

.contact-info-item .icon {
    font-size: 1.5rem;
    color: #ec1839;
    display: inline-block;
}

.contact-info-item h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin: 1rem 0 0.4rem;
}

.contact-info-item p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    font-weight: 400;
}

.contact .contact-form,
.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .form-item {
    margin-bottom: 2rem;
}

.contact .contact-form .form-control {
    width: 100%;
    height: 3rem;
    background: white;
    border: 1px solid white;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    color: white;
    transition: all 0.3s ease;
}

.contact .contact-form textarea.form-control {
    height: 8rem;
}

.contact .contact-form .btn {
    height: 3rem;
    padding: 0 3rem;
}